.size-10 {
	font-family: var(--font-main);
	font-size: 10px;
	line-height: 16px;
	letter-spacing: -0.1px;
}

.size-11 {
	font-family: var(--font-main);
	font-size: 11px;
	line-height: 18px;
	letter-spacing: -0.1px;
}
.size-12 {
	font-family: var(--font-main);
	font-size: 12px;
	line-height: 20px;
}
.size-14 {
	font-family: var(--font-main);
	font-size: 14px;
	line-height: 24px;
}
.size-16 {
	font-family: var(--font-main);
	font-size: 16px;
	line-height: 24px;
}
.size-18 {
	font-family: var(--font-main);
	font-size: 18px;
	line-height: 24px;
}
.size-24 {
	font-family: var(--font-main);
	font-size: 24px;
	line-height: 32px;
}
.size-28 {
	font-family: var(--font-main);
	font-size: 28px;
	line-height: 36px;
}
.size-promo-10 {
	font-family: var(--font-second);
	font-size: 10px;
	line-height: 14px;
}
.size-promo-11 {
	font-family: var(--font-second);
	font-size: 11px;
	line-height: 16px;
}
.size-promo-12 {
	font-family: var(--font-second);
	font-size: 12px;
	line-height: 18px;
}
.size-promo-14 {
	font-family: var(--font-second);
	font-size: 14px;
	line-height: 18px;
}
.size-promo-16 {
	font-family: var(--font-second);
	font-size: 16px;
	line-height: 24px;
}
.size-promo-18 {
	font-family: var(--font-second);
	font-size: 18px;
	line-height: 24px;
}
.size-promo-20 {
	font-family: var(--font-second);
	font-size: 20px;
	line-height: 28px;
}
