.container {
	padding: 16px 20px;
	max-width: 290px;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;

	background-color: #686A6E ;
	border-radius: 6px ;
	opacity: 1 ;

	&.place-top::after {
		border-top-color:#686A6E ;
	}
	&.place-right::after {
		border-right-color:#686A6E ;
	}
	&.place-bottom::after {
		border-bottom-color:#686A6E ;
	}
	&.place-left::after {
		border-left-color:#686A6E ;
	}
}