:root {
	--zIndexMax: 2147483647;

	--font-primary: "Inter", sans-serif;
	--font-secondary: "EurofontExtendedC", sans-serif;
}

body {
	font-family: var(--font-primary);
	--font-size-promo-32: 32px;
	--font-size-promo-20: 20px;
	--font-size-promo-16: 16px;
	--font-size-promo-14: 14px;
	--font-size-promo-12: 12px;
	--font-size-promo-11: 11px;
	--font-size-promo-10: 10px;
	--font-size-28: 28px;
	--font-size-24: 24px;
	--font-size-16: 16px;
	--font-size-14: 14px;
	--font-size-12: 12px;
	--font-size-11: 11px;
	--font-size-10: 10px;
}
